.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 100%;

  cursor: pointer;

  font-size: 18px;
  text-transform: capitalize;

  color: #f4f4f4;

}

.on {
  color: #4e78ff;
}